# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# MyPy / Pyre / Pytype
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Django
*.log
local_settings.py

# Flask
instance/
*.pid

# SQLAlchemy
*.db

# Environment variables
*.env

# Misc
*.log
.DS_Store_
